<div class="container">
  <h1>Sign_up</h1>
</div>
<div class="container">
  <div class="form-group">
    <label>Email_id</label>
    <input type=text class="form-control" [(ngModel)]="email_id">
  </div>
</div>

<div class="container">
    <div class="form-group">
      <label>User Name</label>
      <input type=text class="form-control" [(ngModel)]="u_name">
    </div>
</div>

<div class="container">
    <div class="form-group">
      <label>Password</label>
      <input type=password class="form-control" [(ngModel)]="password">
    </div>
</div>

<div class="container">
    <div class="form-group">
      <label>Mobile No.</label>
      <input type=text class="form-control" [(ngModel)]="mobile_no">
    </div>
</div>

<div class="container">
    <div class="form-group">
      <label>City</label>
      <select class="form-control" [(ngModel)]="city">
        <option *ngFor="let item of cities">{{item}}</option>
      </select>
    </div>
</div>

<div class="container">
    <div class="form-group">
      <label>Gender</label><br>
      <input type=radio value="male" [(ngModel)]="gender">Male &nbsp; &nbsp;
      <input type=radio value="female" [(ngModel)]="gender">Female
    </div>
</div>

<div class="container">
    <div class="form-group">
      <label>Address</label><br>
      <textarea name="Address" cols="50" rows="5" [(ngModel)]="address"></textarea>
    </div>
</div>


<div class="container">
  <div class="form-group">
  <button (click)="onAdd()" class="form-control btn-default" routerLink="/">Signin</button>
  </div>
</div>

